<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ReservAir</h1>
    <h3>You have successfully cancelled your reservation.<h3> 
    <h4>Reference #: <%= @booking.booking_reference %><h4>
    
    <p>To make another reservation, visit: <a href="<%= @url %>">ReservAir</a></p>
    <h3>ReservAir Team</h3>
  </body>
</html>
